:root {
    font-family: "Alice", sans-serif;
    line-height: 150%;
    font-size: 16px;
    color: #573A37;
}

body {
  background-image: url(./assets/Página\ de\ receita.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

#page {
  box-sizing: border-box;
  margin: 48px auto;
  width: 800px;
  height: 1440px;
  border-radius: 24px;
  background-color: #F0E8C2;
  padding: 24px;

}

img {
  border-radius: 16px;
}

.title {
  font-size: 40px;
  line-height: 140%;
}

.subtitle {
  font-size: 24;
}


footer {
  margin:auto;
  color: #F0E8C2;
}