body {
  background-image: url(./assets/Página\ de\ receita.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

#page {
  box-sizing: border-box;
  margin: 48px auto;
  width: 800px;
  height: 1440px;
  border-radius: 24px;
  background-color: #F0E8C2;
  padding: 24px;

}

img {
  border-radius: 16px;
}

.title {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #573A37;
  font-weight: 300;
}

.subtitle {
  font-size: 24;
  font-family: Arial, Helvetica, sans-serif;
  color: #573A37;
  font-weight: 300;
}

.text {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #573A37;
  font-weight: 300;
}

footer {
  margin:auto;
}